.page-wrapper {
  width: 100%;
  height: 100%; }
  .page-wrapper .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .page-wrapper .logoWrapper .logo {
      width: 200px; }
  .page-wrapper .form {
    margin: 0 auto;
    width: 85%;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif; }
    .page-wrapper .form .form-group {
      hyphens: auto; }
      .page-wrapper .form .form-group .icon {
        color: #ccc;
        padding-left: 10px;
        position: relative;
        left: .5em;
        top: 1.9em;
        line-height: 1;
        z-index: 1; }
      .page-wrapper .form .form-group .input-text {
        display: block;
        width: 100%;
        padding: .5rem;
        color: #555;
        font-size: 14px;
        line-height: 1;
        padding-left: 48px;
        vertical-align: center;
        background-color: white;
        background-image: none;
        border: 1px solid #cccccc;
        -webkit-appearance: none;
        border-radius: 30px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out; }
      .page-wrapper .form .form-group .input-text:focus {
        border: 1px solid #f36548;
        box-shadow: 0px 0px 5px #ff6a4c; }
      .page-wrapper .form .form-group .submit-button {
        margin-top: 30px;
        background: #ff6a4c;
        border-radius: 30px;
        border-color: #ff6a4c;
        color: #fff9fb;
        width: 100%;
        display: block;
        vertical-align: center;
        font-size: 14px;
        padding: .5rem;
        line-height: 1.8;
        text-align: center;
        white-space: nowrap; }
      .page-wrapper .form .form-group .submit-button:active {
        background-color: #ff8e77;
        border-color: #ff8e77; }
    .page-wrapper .form .divider {
      margin-left: auto;
      margin-right: auto;
      float: none;
      position: relative;
      height: 30px;
      line-height: 30px;
      margin-top: 30px;
      padding: 0;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      text-align: center; }
      .page-wrapper .form .divider .form-hr {
        background: #ccc;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        z-index: 1;
        height: 0;
        border: 1px solid #eee;
        -webkit-box-sizing: content-box;
        box-sizing: content-box; }
      .page-wrapper .form .divider .form-hr-font {
        display: inline-block;
        padding: 0 16px;
        background: #fbf9fe;
        position: relative;
        font-size: 12px;
        color: #ccc;
        z-index: 2; }
    .page-wrapper .form .fast-login-group {
      margin-top: 25px;
      display: flex;
      justify-content: space-around; }
      .page-wrapper .form .fast-login-group img {
        width: 60px; }
      .page-wrapper .form .fast-login-group div {
        font-size: 10px;
        color: #cccccc;
        text-align: center; }

/*# sourceMappingURL=login.css.map */
