@import "../../assets/css/varies";
@import "../../assets/css/common";

#__viewBox {
  overflow: hidden;
}

.justBar-box {
  height: 48px;
  position: relative;
  background: $--background-vux;
  z-index: 1;
  .justBar {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 13px;
    background: white;
    height: 40px;
    line-height: 40px;
    border-bottom: $--theme-gray-light3 solid 1px;
    border-top: $--theme-gray-light4 solid 1px;
    box-shadow: 0 -5px 5px 1px rgba(0, 0, 0, 0.025); //emphasis
    .justBar-title {
      padding-left: 16px;
    }
  }
}

.popping {
  background-color: $--theme-gray-light4 !important;
}

.popover {
  $pop-height: 42px;
  display: flex;
  height: $pop-height;
  white-space: nowrap;
  &-btn {
    list-style: none;
    padding: 0 6px;
    height: $pop-height;
    display: flex;
    align-items: center;
    .icon-label {
      font-size: 14px;
      line-height: $pop-height;
    }
    .iconfont {
      font-size: 18px;
    }
    &:not(:first-of-type):before {
      content: "";
      position: relative;
      left: -4px;
      height: 45%;
      border-left: rgba(255, 255, 255, .6) solid 1px;
    }
  }
}
