@import "../../assets/css/varies";

.pCard {
  padding: 20.8px 16px 8px 16px;
  //margin-bottom: 8px;
  font-size: .9rem;
  background: white;
  //box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .05);
  display: flex;
  .left-side {
    height: 46px;
    width: 46px;
    flex-shrink: 0; //头像坚决不能缩，不然就压扁了
    border-radius: 50%;
    overflow: hidden;
    background-size: 48px 48px;
    background-position: center;
    border: $--background-deep solid 1px;
    position: relative;
    top: -.4rem;
  }
  .right-side {
    margin-left: .5rem;
    width: 100%;
    .cardTopBar {
      line-height: 19.6px;
      min-height: 45px;
      .cardTopBar-top {
        position: relative;
        .band {
          color: $--theme-gray-deep;
        }
        .operation {
          font-size: 12px;
          position: absolute;
          display: flex;
          align-items: center;
          right: 0;
          top: 0;
          fill: gray;
          color: gray;
          .star {
            margin-right: 9.6px;
            font-size: 12.8px;
            color: $--theme-blue;
          }
        }
      }
      .cardTopBar-extra {
        color: gray;
        font-size: 11.2px;
        display: inline-flex;
        align-items: center;
        .position {
          display: inline-flex;
          align-items: center;
          .icon {
            font-size: 14.4px;
          }
        }
      }
    }
  }
  .content {
    margin-bottom: .5rem;
  }
  .topic {
    font-size: 12px;
    background: $--background-deep;
    padding: 4px 12.8px;
    border-radius: 16px;
    color: $--theme-blue;
  }
  .shareBar {
    margin-top: .5rem;
  }
}
