.pCard {
  padding: 20.8px 16px 8px 16px;
  box-sizing: content-box;
  font-size: .9rem;
  background: white;
  display: flex; }
  .pCard.userMsgDetail-card {
    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.05); }
  .pCard .left-side {
    height: 46px;
    width: 46px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    background-size: 48px 48px;
    background-position: center;
    border: rgba(0, 15, 80, 0.08) solid 1px;
    position: relative;
    top: -.4rem; }
  .pCard .right-side {
    margin-left: .5rem;
    width: 100%; }
    .pCard .right-side .cardTopBar {
      line-height: 19.6px;
      min-height: 45px; }
      .pCard .right-side .cardTopBar .cardTopBar-top {
        position: relative; }
        .pCard .right-side .cardTopBar .cardTopBar-top .band {
          color: #606060; }
        .pCard .right-side .cardTopBar .cardTopBar-top .operation {
          font-size: 12px;
          position: absolute;
          display: flex;
          align-items: center;
          right: 0;
          top: 0;
          fill: gray;
          color: gray; }
          .pCard .right-side .cardTopBar .cardTopBar-top .operation .star {
            margin-right: 9.6px;
            font-size: 12.8px;
            color: #2196F3; }
      .pCard .right-side .cardTopBar .cardTopBar-extra {
        color: gray;
        font-size: 11.2px;
        display: inline-flex;
        align-items: center; }
        .pCard .right-side .cardTopBar .cardTopBar-extra .position {
          display: inline-flex;
          align-items: center; }
          .pCard .right-side .cardTopBar .cardTopBar-extra .position .icon {
            font-size: 14.4px; }
  .pCard .content {
    margin-bottom: .5rem;
    white-space: pre-wrap;
    word-break: break-word; }
  .pCard .topic {
    font-size: 12px;
    background: rgba(0, 15, 80, 0.08);
    padding: 4px 12.8px;
    border-radius: 16px;
    color: #2196F3; }
  .pCard .shareBar {
    margin-top: .5rem; }
  .pCard .url {
    background-color: #f4f4f4;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 8px; }
    .pCard .url .url-img {
      height: 65px;
      width: 65px;
      border-radius: 2px;
      flex-shrink: 0; }
    .pCard .url .url-side {
      position: relative;
      max-height: 65px;
      flex-grow: 1;
      padding: 8px;
      line-height: 18px;
      word-break: break-word;
      overflow: hidden; }
      .pCard .url .url-side .url-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden; }
      .pCard .url .url-side .url-domain {
        font-size: .75rem;
        color: #808080;
        position: absolute;
        bottom: 3px; }
  .pCard .media-imgs {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 8px;
    display: flex; }
    .pCard .media-imgs .media-muti-img {
      flex: 1;
      overflow: hidden;
      border-radius: 2px;
      margin-right: 4px; }
    .pCard .media-imgs .imgcenter {
      width: 100%;
      padding-bottom: 100%;
      height: 0;
      background-size: auto 100%;
      background-position: center center; }

/*# sourceMappingURL=userMessageCard.css.map */
