.more-wrapper {
  margin-top: 54px;
  .avatar {
    display: block;
    margin-right: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(220, 212, 210, 0.7)
  }
  #file {
    height: 0;
    width: 0;
  }
}

.popup {
  background-color: white;
  .tip {
    height: 60px;
    text-align: center;
    background-color: white;
    font-size: 12px;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tip {
    border-bottom: 1px solid #d9d9d9;
    transform-origin: 0 100%;
    width: 93%;
    margin: 0 auto;
  }

  .confirm {
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: white;
    color: #EA5859;
  }

  .cancel {
    padding-top: 10px;
    height: 55px;
    background-color: #E8E3E3;
    > div {
      line-height: 45px;
      text-align: center;
      background-color: white;
    }
  }
}

.sex-popup {
  box-sizing: border-box;
  .content {
    border-radius: 12px;
    margin: 0 8px 8px;
    color: #6c6c6c;
    .selectSex {
      display: flex;
      > div {
        margin: 0 3px;
        border-radius: 12px;
        width: 100%;
        text-align: center;
        line-height: 30px;
        color: #363636;
        > img {
          width: 40px;
          margin-bottom: -15px;
          margin-top: 2px;
        }
      }
      .male {
        background-color: #5b95f0;
      }
      .female {
        background-color: #ff5e95;
      }
    }
  }
  .sex-cancel {
    border-radius: 12px;
    margin: 0 8px 8px;
    color: #6c6c6c;
    background-color: #fff;
    padding: 12px;
    text-align: center;
  }
}
