.more-wrapper {
  margin-top: 54px;
  .avatar {
    display: block;
    margin-right: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(220, 212, 210, 0.7)
  }
}

.popup {
  background-color: white;
  .takePhoto {
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: white;
  }
  .takePhoto {
    border-bottom: 1px solid #d9d9d9;
    transform-origin: 0 100%;
    width: 93%;
    margin: 0 auto;
  }

  .fromAlbum {
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: white;

  }

  .cancel {
    padding-top: 10px;
    height: 55px;
    background-color: #E8E3E3;
    > div {
      line-height: 45px;
      text-align: center;
      background-color: white;
    }
  }

}
