@import "../../assets/css/common";

.momentPublish-wrapper {
  font-size: 16px;
  .textarea-box {
    padding: 1em;
  }

  .textarea {
    padding: 1em;
    min-height: 100px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    resize: none;
    width: 100%;
  }

  .button {
    @extend %button-basic;
    background: $--theme-blue-deep;
    height: 24px;
    width: 54px;
    position: absolute;
    right: 0;
    font-size: 12px;
    color: white !important;
  }

}

.logoWrapper {
  height: calc(100vh - 44px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 44px;
  background: white;
  z-index: -1;
  .logo {
    position: relative;
    top: -45px;
    opacity: .05;
  }
}
