.soshm {
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 8px;
}

.soshm:before, .soshm:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.soshm:after {
  clear: both;
}

.soshm-item {
  float: left;
  margin: 5px;
  cursor: pointer;
  min-width: 48px;
  margin: 0 5px;
}

.soshm-item-icon {
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  border-radius: 50%;
}

.soshm-item-icon img {
  vertical-align: top;
  padding: 0;
  margin: 5px 0;
  width: 30px;
  height: 30px;
}

.soshm-item-text {
  display: block;
  font-size: 11px;
  color: #6c6c6c;
}
.soshm-group {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.soshm-group .soshm-item {
  display: block;
  float: none;
  margin: 0;
}

.soshm-pop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.65);
  transition-property: opacity;
  transition-timing-function: ease-in;
}

.soshm-pop-show {
  opacity: 1;
  transition-duration: 0.6s;
}

.soshm-pop-show .group1 {
  animation: soshtrans 1200ms 1 ease;
}

.soshm-pop-show .group2 {
  animation: soshtrans 1700ms 1 ease;
}

.soshm-pop-show .group3 {
  animation: soshtrans 2200ms 1 ease;
}

.soshm-pop-show .group4 {
  animation: soshtrans 2700ms 1 ease;
}

.soshm-pop-hide {
  opacity: 0;
  transition-duration: 1s;
}

.soshm-pop-hide .group1 {
  animation: soshtrans2 500ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55) 0ms forwards;
}

.soshm-pop-hide .group2 {
  animation: soshtrans2 500ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55) 200ms forwards;
}

.soshm-pop-hide .group3 {
  animation: soshtrans2 500ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55) 400ms forwards;
}

.soshm-pop-hide .group4 {
  animation: soshtrans2 500ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55) 600ms forwards;
}

.soshm-pop-sites {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
}

.soshm-pop .soshm-item-icon {
  width: 42px;
  height: 42px;
  padding: 10px;
}

.soshm-weixin-sharetip {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6) url(../img/weixin_sharetip.png) no-repeat right 0;
  background-size: 50% auto;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 600ms ease-out;
}

.soshm-weixin-sharetip.weixin-sharetip-show {
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

@keyframes soshtrans {
  0% {
    transform: translate3d(0, 1136px, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes soshtrans2 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 500%, 0);
  }
}
