@import "../../assets/css/varies";
@import "../../assets/css/common";

.profile-viewbox {
  font-size: .7rem;
  color: $--theme-gray-light5;
  $row-gap: 7px;
  #profile-XHeader {
    .iconfont {
      font-size: 24px;
    }
    .headerInfo {
      @extend .row;
      position: relative;
      align-items: center;
      text-align: left;
      height: 100%;
      font-size: 12px;
      line-height: 1rem;
      animation-duration: 350ms;
      justify-content: space-around;
      .avatar {
        height: 32px;
        width: 32px;
        @extend %round;
        margin: 0 10px 0 1px;
      }
      .follow {
        @extend %button-basic;
        background: $--theme-blue-deep;
        height: 24px;
        width: 54px;
        //position: absolute;
        //right: 0;
      }
    }
  }
  .gallery {
    background: url("http://mzzeast.shumsg.cn/18-12-31/12524706.jpg");
    height: 330px;
    padding: 80px 20px 0;
    position: relative;
    .toprow {
      @extend .row;
      justify-content: space-between;
      position: relative;
      .avatarInfo {
        @extend %round;
        height: 64px;
        width: 64px;
        overflow: hidden;
        .avatar {
          @extend %round-shadow;
          height: 64px;
          width: 64px;
        }
      }
      .modifyAvatar {
        background: transparent;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        > div {
          background: rgba(0, 0, 0, 0.62);
          text-align: center;
          width: 100%;
          line-height: 18px;
          //vertical-align: top;
          color: white;
        }
      }

      .chat {
        @extend %round;
        color: $--theme-gray-light25;
        height: 30px;
        width: 30px;
        border: none;
        background: $--background-profile-tag;
        > .iconfont {
          font-size: 1.15rem;
        }
      }
      .follow {
        @extend %button-basic;
        background: $--theme-blue-deep2;
        height: 30px;
        width: 80px;
        margin-left: 20px;
      }
    }
    .username {
      margin: $row-gap 0 $row-gap/2;
      font-size: 1.1rem;
    }
    .signature {
      //margin: 0 0 10px;
    }
    .tag {
      text-align: center;
      margin: $row-gap 5px $row-gap 0;
      height: 1rem;
      line-height: 1rem;
      font-size: .65rem;
      border-radius: .5rem;
      background: $--background-profile-tag;
      padding: 0 6px;
    }
    .tip {
      color: $--theme-gray-light3;
    }
    .gallery-bottom {
      $gallery-bottom-height: 60px;
      position: absolute;
      bottom: 10px;
      left: 0;
      height: $gallery-bottom-height;
      width: 100%;
      display: flex;
      align-items: center;
      > div {
        @extend %stroke;
        flex: 1;
        text-align: center;
        .num {
          font-size: .9rem;
          font-weight: bold;
        }
      }
    }
  }
  .main-list {
    color: black;
    position: relative;
    top: -10px;
    min-height: calc(100vh - 56px);
    .moments-row {
      @extend .row;
      padding: 5px 20px;
      color: $--theme-gray;
      .iconfont {
        margin-right: .2em;
      }
    }
    .list-top-box {
      z-index: 1;
      border-radius: 7px 7px 0 0;
      overflow: hidden;
      .list-top {
        overflow: hidden;
        background: white;
        border-bottom: 1px solid rgb(229, 229, 229);
        * {
          background: none !important;
        }
        .tab {
          width: 61.8%;
          margin: 0 auto;
        }
      }
    }
  }
}

%shadow {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
}

%round-shadow {
  @extend %round;
  @extend %shadow;
}

.fade-enter-active, .fade-leave-active {
  transition: all 300ms;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
  transform: translateY(100%);
}

.stroke {
  @extend %stroke;
}
