@import "../../assets/css/common";

.flex {
  display: flex;
  align-items: center;
}

.desc {
  font-size: 12px;
  color: $--theme-gray-deep0;
}

.button {
  @extend %button-basic;
  background: $--theme-blue-light2;
  height: 26px;
  line-height: 28px;
  width: 65px;
  position: absolute;
  right: 15px;
  font-size: 12px;
  color: white !important;
  vertical-align: middle;
  &[disable] {
    background: $--theme-cyanogen;
  }

}

.avatar {
  //height: 44px;
  //width: 44px;
  @extend %round;
  margin: 0 10px 0 0;
}
