.clear-decoration {
  text-decoration: none;
  border: none;
  outline: none;
}

.vuxfy {
  background: #FBF9FE;
  color: #666;
  font-size: .9rem;
}

//消除换行带来的元素之间的间隙
.nowrapspace {
  display: flex;
  letter-spacing: -1px;
  font-size: 0;
  > * {
    letter-spacing: normal;
    font-size: inherit;
  }
}
