@import "varies";

.clear-decoration {
  text-decoration: none;
  border: none;
  outline: none;
}

.vuxfy {
  background: #FBF9FE;
  color: #666;
  font-size: .9rem;
}

//消除换行带来的元素之间的间隙
.nowrapspace {
  display: flex;
  letter-spacing: -1px;
  font-size: 0;
  > * {
    letter-spacing: normal;
    font-size: inherit;
  }
}

.noscroll {
  overflow: hidden;
}

.more-loading {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
}

%button-basic {
  @extend .row;
  color: $--theme-gray-light25;
  justify-content: center;
  border: none;
  border-radius: 15px;
  > .iconfont {
    font-weight: bold;
  }
  > span {
    @extend .row;
    position: relative;
    left: -1px;
  }
}

%round {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  color: $--theme-blue-deep7;
}
