$--background-deep: rgba(0, 15, 80, .08);
$--background-deep2: rgba(0, 15, 80, .16);
$--background-vux: #FBF9FE;
$--theme-blue: #2196F3;
$--theme-blue-light: #369fef;
$--theme-blue-light2: #40a1ef;
$--theme-red: rgb(215, 0, 0);
$--theme-red-light: rgba(215, 0, 0, .7);
$--theme-red-light4: rgba(215, 0, 0, .12);
$--theme-gray: #808080;
$--theme-gray-deep: rgb(96, 96, 96);
$--theme-gray-deep2: rgb(84, 84, 84);
$--theme-gray-deep3: rgb(72, 72, 72);
$--theme-gray-deep4: rgb(60, 60, 60);
$--theme-gray-light: rgb(192,192,192);
$--theme-gray-light2: rgb(222,222,222);
$--theme-gray-light3: rgb(233,233,233);
$--theme-gray-light4: rgb(244,244,244);
