$--background-deep: rgba(0, 15, 80, .08);
$--background-deep2: rgba(0, 15, 80, .16);
$--theme-blue: #2196F3;
$--theme-red: rgb(215, 0, 0);
$--theme-red-light: rgba(215, 0, 0, .7);
$--theme-red-light4: rgba(215, 0, 0, .12);
