html, body, #app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.vux-tab-ink-bar-transition-backward, .vux-tab-ink-bar-transition-forward {
  /* 全局封杀tab的animate, 防止tab出现什么幺蛾子 */
  transition: none !important;
}
