@import './varies';
@import './common';

html, body, #app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.vux-tab-ink-bar-transition-backward, .vux-tab-ink-bar-transition-forward {
  /* 全局封杀tab的animate, 防止tab出现什么幺蛾子 */
  transition: none !important;
}

.theme-XHeader {
  background-color: #fff !important;
  border-bottom: $--background-deep solid 1px;
  .vux-header-left, .vux-header-title, .vux-header-right, .vux-header-back {
    color: #000 !important;
  }
  .vux-header-more {
    color: $--theme-gray-deep4 !important;
  }
  .vux-header-title {
    margin: 0 52px !important;
  }
}

* {
  box-sizing: border-box;
}

.weui-tab__panel {
  background-color: #fbf9fe;
}

.weui-toast__content {
  padding: 0 !important;
  .greenStyle {
    border: 1px solid #e1f3d8;
    border-radius: 4px;
    background-color: #f0f9eb;
    font-size: 14px;
    color: #67c23a;
    height: 41px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.weui-toast.vux-toast-top {
  top: 30px;
}

.vux-fix-safari-overflow-scrolling::-webkit-scrollbar {
  display: none
}
