@import './varies';
@import './common';

html, body, #app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.vux-tab-ink-bar-transition-backward, .vux-tab-ink-bar-transition-forward {
  /* 全局封杀tab的animate, 防止tab出现什么幺蛾子 */
  transition: none !important;
}

.vux-header .vux-header-left, .vux-header .vux-header-right {
  top: 12px !important;
}

.theme-XHeader {
  background-color: #fff !important;
  border-bottom: $--background-deep solid 1px;
  .vux-header-left, .vux-header-title, .vux-header-right, .vux-header-back {
    color: #000 !important;
  }
  .vux-header-more {
    color: $--theme-gray-deep4 !important;
  }
  .vux-header-title {
    margin: 0 52px !important;
  }
}

* {
  box-sizing: border-box;
}

.weui-tab {
  //overflow: hidden;
  //height: calc(100% - 22px) !important;
}

.weui-tabbar {
  //position: fixed !important;
}

.weui-tab__panel {
  background-color: #fbf9fe;
}

.weui-toast {
  min-width: fit-content !important;
  //transform: none;
  //left: 0;
  //right: 0;
  //margin: 0 auto !important;
  .weui-toast__content {
    padding: 0 !important;
    display: table;
    min-width: calc(100% + 2px);
    .toast-common-style {
      padding: 0 10px;
      border-radius: 4px;
      font-size: 14px;
      height: 41px;
      line-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .toast-greenStyle {
      @extend .toast-common-style;
      border: 1px solid #e1f3d8;
      background-color: #f0f9eb;
      color: #67c23a;
    }
    .toast-yellowStyle {
      @extend .toast-common-style;
      border: 1px solid #FFD77A;
      background-color: #FFF9E6;
      color: #FF9900;
    }
    .toast-redStyle {
      @extend .toast-common-style;
      border: 1px solid #FFB08F;
      background-color: #FFEFE6;
      color: #ED4014;
    }
  }
}

.weui-toast.vux-toast-top {
  top: 30px;
}

//.vux-fix-safari-overflow-scrolling::-webkit-scrollbar {
//  display: none
//}

.vux-popup-mask.vux-popup-show {
  cursor: auto;
}

.vux-header .vux-header-left {
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  width: 42px;
  > div {
    line-height: 46px;
    > i {
      position: relative;
      left: 10px;
    }
  }
  .left-arrow {
    top: 0 !important;
    height: 46px !important;
    width: 100% !important;
    left: 0 !important;
    &:before {
      left: 20px !important;
      top: 15px !important;
    }
  }
  .icon-back {
    filter: drop-shadow(0 0 1px black); //描边
  }
}

.vux-cell-box {
  font-size: 16px !important;
}

.weui-cells.vux-search_show .weui-cell:last-child {
  margin-bottom: unset !important;
}
//
//.vux-loadmore.weui-loadmore_line {
//  padding-bottom: 100px;
//  margin-bottom: 50px;
//}

