@charset "UTF-8";
.clear-decoration {
  text-decoration: none;
  border: none;
  outline: none; }

.vuxfy {
  background: #FBF9FE;
  color: #666;
  font-size: .9rem; }

.nowrapspace {
  display: flex;
  letter-spacing: -1px;
  font-size: 0; }
  .nowrapspace > * {
    letter-spacing: normal;
    font-size: inherit; }

.noscroll {
  overflow: hidden; }

.more-loading {
  display: flex;
  justify-content: center; }

.row {
  display: flex;
  align-items: center; }

.clickable {
  color: #1e5caf; }

html, body, #app {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

.vux-tab-ink-bar-transition-backward, .vux-tab-ink-bar-transition-forward {
  /* 全局封杀tab的animate, 防止tab出现什么幺蛾子 */
  transition: none !important; }

.vux-header .vux-header-left, .vux-header .vux-header-right {
  top: 12px !important; }

.theme-XHeader {
  background-color: #fff !important;
  border-bottom: rgba(0, 15, 80, 0.08) solid 1px; }
  .theme-XHeader.yellow {
    background-color: yellow !important; }
  .theme-XHeader.blue {
    background-color: #2196F3 !important; }
  .theme-XHeader .vux-header-left, .theme-XHeader .vux-header-title, .theme-XHeader .vux-header-right, .theme-XHeader .vux-header-back {
    color: #000 !important; }
  .theme-XHeader .vux-header-more {
    color: #3c3c3c !important; }
  .theme-XHeader .vux-header-title {
    margin: 0 52px !important; }

.theme-XHeader-blue {
  background-color: #2196F3 !important; }
  .theme-XHeader-blue .vux-header-left, .theme-XHeader-blue .vux-header-title, .theme-XHeader-blue .vux-header-right, .theme-XHeader-blue .vux-header-back {
    color: white !important; }

* {
  box-sizing: border-box; }

.weui-tab__panel {
  background-color: #fbf9fe; }

.weui-toast {
  min-width: fit-content !important; }
  .weui-toast .weui-toast__content {
    padding: 0 !important;
    display: table;
    min-width: calc(100% + 2px); }
    .weui-toast .weui-toast__content .toast-common-style, .weui-toast .weui-toast__content .toast-greenStyle, .weui-toast .weui-toast__content .toast-yellowStyle, .weui-toast .weui-toast__content .toast-redStyle {
      padding: 0 10px;
      border-radius: 4px;
      font-size: 14px;
      height: 41px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .weui-toast .weui-toast__content .toast-greenStyle {
      border: 1px solid #e1f3d8;
      background-color: #f0f9eb;
      color: #67c23a; }
    .weui-toast .weui-toast__content .toast-yellowStyle {
      border: 1px solid #FFD77A;
      background-color: #FFF9E6;
      color: #FF9900; }
    .weui-toast .weui-toast__content .toast-redStyle {
      border: 1px solid #FFB08F;
      background-color: #FFEFE6;
      color: #ED4014; }

.weui-toast.vux-toast-top {
  top: 30px; }

.weui-cells.vux-search_show {
  -webkit-overflow-scrolling: touch;
  background: white !important; }

.vux-fix-safari-overflow-scrolling::-webkit-scrollbar {
  display: none; }

.vux-popup-mask.vux-popup-show {
  cursor: auto; }

.vux-header .vux-header-left {
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  width: 42px; }
  .vux-header .vux-header-left > div {
    line-height: 46px; }
    .vux-header .vux-header-left > div > i {
      position: relative;
      left: 10px; }
  .vux-header .vux-header-left .left-arrow {
    top: 0 !important;
    height: 46px !important;
    width: 100% !important;
    left: 0 !important; }
    .vux-header .vux-header-left .left-arrow:before {
      left: 20px !important;
      top: 15px !important; }
  .vux-header .vux-header-left .icon-back {
    filter: drop-shadow(0 0 1px black); }

.vux-cell-box {
  font-size: 16px !important; }

.weui-cells.vux-search_show .weui-cell:last-child {
  margin-bottom: unset !important; }

.vux-search_show {
  padding-bottom: 44px;
  background-color: #fbf9fe !important; }

/*# sourceMappingURL=reset.css.map */
