.wrapper {
  background: white;
  .self-XHeader {
    transition: background-color .1s ease;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .25);
    .iconfont {
      font-size: 1.25rem;
      color: white
    }
  }
  .show-bar {
    //margin-top: 23px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/static/back.jpg");
    background-size: cover;
    .center-content {
      margin-top: 60px;
      text-align: center;
      color: white;
      line-height: 2rem;
      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }

  .self-tab {
    z-index: 1;
  }

  .timeline {
    h4 {
      font-weight: normal;
      font-size: .9em;
    }
    p {
      color: gray;
      font-size: .7em;
    }
    h4, p {
      text-indent: .5em;
    }
  }
}

.badge {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  overflow: hidden;
  background: #f74c31;
}
