//.XHeader-box {
//  position: relative;
//  left: 0;
//  top:0;
//  height: 46px;
//  .XHeader {
//    width: 100%;
//    position: fixed;
//    left: 0;
//    top: 0;
//    z-index: 100;
//  }
//}
.XHeader {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
