body {
  overflow: scroll;
  img {
    max-width: -100vw !important;
    height: unset !important;
  }
  p {
    > img:only-child {
      display: block;
    }
  }
  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: -100vw;
    z-index: 99999;
    pointer-events: none;
    background: url("https://shumsg.cn/static/logo.jpeg") center no-repeat;
    background-size: 200px 200px;
    opacity: 0.2;
  }
}

footer {
  min-height: 30px;
}

.title {
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

p {
  font-size: 16px;
  line-height: 2em;
}

//以上是公共样式
html > body body.html {
  margin: 0 !important;
}

#menubj #navigation, #breadcrumbs, #copyright, a[typeof='skos:Concept'], footer * {
  display: none;
}

#primary.container {
  display: flex;
  justify-content: center;
  align-items: center;
  section#content2 p {
    margin: {
      left: auto;
      right: auto;
    }
    img {
      width: 100% !important;
    }
  }

}

#logo {
  margin: 0 auto;
  text-align: center;
  a {
    pointer-events: none;
  }
}

// 以上是兼容图书馆页面

#Body {
  td[background="../../dfiles/12880/portals/682/skins/bkzs/bg.jpg"] {
    background: none !important;
  }
  td[background="../../dfiles/12880/portals/682/skins/bkzs/bk_01.jpg"], td[bgcolor="#81adcc"], td[bgcolor="#F3FEFE"], td[background="../../dfiles/12880/portals/682/skins/bkzs/bk_53.jpg"] {
    display: none !important;
  }
  > table .side1 {
    form[name="_newscontent_fromname"] {
      max-width: -100vw;
    }
  }
  #dnn_ctr63596_ArtDetail_tr1, #dnn_ctr63596_ArtDetail_lblViewNumber, #dnn_ctr63596_ArtDetail_lblViews, #dnn_ctr63596_ArtDetail_lblViews + a {
    display: none;
  }
  #dnn_ctr63596_ArtDetail_hypFirst:not(:empty):before {
    content: '作者: ';
    margin-left: 10px;
  }
  #dnn_ctr63596_ArtDetail_lblTitle {
    line-height: 1.5em;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  }
  #dnn_ctr63596_ArtDetail_Table2 > :first-child > :first-child > :first-child {
    text-align: left;
  }
  span {
    text-indent: 0 !important;
    //:after {
    //  content: "";
    //  display: block;
    //  height: 0.5em;
    //}
  }
}

// 以上css为了兼容上海大学本科招生网
