@import "../../assets/css/varies";

.seoFrame {
  width: 100%;
  height: 100%;
  border: none;
  overflow-scrolling: touch;
}

.title {
  font-size: .8rem;
}

.iconfont {
  font-size: 25px;
  color: #666666;
}

//.logo {
//  content: "";
//  position: fixed;
//  top: 0;
//  left: 0;
//  height: 100vh;
//  width: 100vw;
//  z-index: 99999999;
//  pointer-events: none;
//  background: url("/static/logo.jpeg") center no-repeat;
//  background-size: 200px 200px;
//  opacity: 0.1;
//}

