@import "../../assets/css/varies";

.shareBar {
  position: relative;
  font-size: 12px;
  display: flex;
  //justify-content: space-between;
  //padding-right: 25%;
  align-items: center;
  height: 2rem;
  color: gray;
  .iconfont {
    transition: all .4s ease 0s;

    &.icon-done {
      color: $--theme-red-light;
    }
  }
  .share {
    position: absolute;
    right: 0;
    .icon {
      margin-right: 3.2px;
      font-weight: bold;
      font-size: 14.4px;
    }
  }
  .btn {
    //width: 60px;
    width: 30%;
    max-width: 90px;
    display: flex;
    align-items: center;
    .icon {
      margin-right: 3px;
      font-weight: bold;
    }
  }
  .clicked {
    color: $--theme-red-light;
  }
  &.hr {
    border-top: 1px solid $--background-deep2;
  }
}
